/* *{
    padding: 0;
    margin: 0;
} */
body{
    background-color: rgb(45, 2, 2);
    width: 100%;
    color: white;
    /* font-family: 'Courier New'; */
   
}
/* p{
    color: aqua;
}
p:hover{
    color: blue;
    font-size: large;
    text-decoration: solid;
} */
.navbar{
    /* border: 2px solid green; */
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    gap: 350px;
    color: white;
    display: flex;
    padding: 10px;
}
/* .nav{
   text-decoration: none; 
   color: white;
} */
.btn1{
    text-decoration: none;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 8px;
    color: white;
    
}
.logo{
    color: white;

}
.nav{
     text-decoration: none; 
   color: white;
   margin: 2px 20px;
}
.article{
    
    width: 600px;
    height: auto;
    margin: 50px 500px;
    
}
h2{
    font-size: 3rem;
}
.hov{
    color: yellow;
    text-decoration: none;
}
.hov:hover{
    color: orange;
    text-decoration: underline;
}
p{
    font-size: 24px;
}
hr{
    border: 2px solid grey;
    width: 100%;
    margin-bottom: 25px;
}
.navbar2{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.btn2{
    border: 1px solid grey;
    border-radius: 40px;
    color: white;
    /* margin-left: auto; */
    padding: 5px 9px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    
}
.btn2:hover{
    background-color: rgb(225, 225, 78);
}
.mt{
    color: white;
    text-decoration: underline dotted;
    font-size: 22px;
    
    margin-left: 15px;
}
.mt:hover{
    color: rgb(255, 199, 38);
    text-decoration: none;
}
.Topics{
    font-size: 32px;
    color: white;
    text-decoration: none;
    line-height: 36px;
    font-family:'Courier New' ;
}
.Topics:hover{
    color: rgb(255, 199, 38);
}
.par2{
    font-size: 18px;
    
}
.IT{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.IT:hover{
    color: rgb(255, 199, 38);
}
.null{
    margin-bottom: 25px;
}
h3{
    font-size: 28px;    
}
.sign{
    background-color: rgb(63, 30, 30);
    /* border: 1px solid; */
    border-radius: 5px;
    width: 100%;
    height: 200px;
    padding: 10px 30px;

}
input{
    width: 60%;
    background-color: rgb(41, 20, 20);
    border: 1px;
}
.sus{
    font-size: 22px;
    color: white;
    background-color: brown;  
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 15px;
}
.par3{
    font-size: 16px;
    margin-left: 20px;
}
.feeds{
    color: white;
    text-decoration: underline dotted;
    font-size: 22px;
    
    /* margin-left: 15px; */
}
.feeds:hover{
    color: orange;
    text-decoration: none;
}
.pp{
    display: flex;
    gap: 80px;
}